<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.ionicframework.starter" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Smart-D</name>
	  <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
    <content src="index.html" />
	<gap:platforms>
		<gap:platform name="android" />
	</gap:platforms>
	
	<icon src="icon.png" />
	<icon src="img/icons/smartd_36.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="img/icons/smartd_48.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="img/icons/smartd_72.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="img/icons/smartd_96.png" gap:platform="android" gap:qualifier="xhdpi" />
	
	
	<preference name="phonegap-version" value="3.7.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<access origin="*" subdomains="true" />
	<access uri="*" subdomains="true" />
	
	<preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    
    <!-- Ionic supports Android Jellybean and up --> 
    <preference name="android-minSdkVersion" value="16" />
	
	
	
	<access origin="*"/> <!-- allow all pages, use for development -->
	<access origin="*.pushwoosh.com"/> <!-- allow pushwoosh service -->
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.media-capture" />
	<gap:plugin name="org.apache.cordova.geolocation" />
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="de.appplant.cordova.plugin.local-notification" version="0.8.1" />
	<gap:plugin name="com.telerik.plugins.nativepagetransitions" version="0.2.2" />
	
	<preference name="android-minSdkVersion" value="14" />
	
	<gap:config-file platform="android" parent="/manifest/application">
        android:windowSoftInputMode="stateVisible"
	</gap:config-file> 
	    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>