<!--navbar-->
<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a class="brand-logo center"><span class="brand-logo1">About</span>
      <a ng-click="back()" class="btn-back"><span class="fa fa-angle-left fa-3x"></span></a>
     </nav>
</div>
<!--end navbar-->
<div class="col s12">
	<div class="divider"></div>
  <div class="section center">
  	<img src="icon.png" class="img-icon center-block">
    <h5>Smart-Delivery</h5>
    <p>"Bringing groceries and goods to your doorstep"</p>
  </div>
  <div class="divider"></div>
  <div class="section center">
    <p>A CROSS-PLATFORM mobile grocery application that will partner with grocery merchants and Smart-D delivery individuals accredited by partner for delivery.</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Contact Us</h5>
    <p>Contact No: +63 47 224 6929<br>Address: Gordon College, 2200 Olongapo City<br>Email: smartd@gordoncollegeccs.edu.ph</p>
  </div>
</div>
<div class="divider"></div>
  <div class="section">
  	<h5>Like Us</h5>
    <p><i class="fa fa-facebook-official fa-1x"></i>www.facebook.com/GordonCollegeSmartD</p>
  </div>
</div>
  <div class="divider"></div>
  <div class="section right">
    <p>© 2015 Smart-D. All rights reserved.</p>
  </div>
</div>