<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a href="#" class="brand-logo center"><span class="brand-logo1">Cart</span>
      <a href="/#/" class="btn-back"><span class="fa fa-angle-left fa-3x"></span></a>
      <a href="#" class="brand-logo2 right"><span class="fa fa-search fa-2x"></span></a>
     </nav>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="fa fa-cart-plus"></i>
    </a>
    <ul>
      <li><a class="btn-floating green"><i class="fa fa-plus"></i></a></li>
      <li><a class="btn-floating red"><i class="fa fa-minus"></i></i></a></li>
    </ul>
  </div>

<div id="footer">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#/cart#test1">my cart</a></li>
          <li class="tab col s3"><a href="#/cart#test2">asdasdsa</a></li>
          <li class="tab col s3"><a href="#/cart#test3">dry goods</a></li>
          <li class="tab col s3"><a href="#/cart#test4">to buy</a></li>
        </ul>
</div>
<div id="test1" class="col s12">
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="fa fa-cart-plus"></i>
    </a>
    <ul>
      <li><a class="btn-floating green"><i class="fa fa-plus"></i></a></li>
      <li><a class="btn-floating red"><i class="fa fa-minus"></i></i></a></li>
    </ul>
  </div>
</div> 