<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten -1">
      <a href="#" class="brand-logo center"><span class="brand-logo1">Products</span><a class="brand-logo2 right"><span class="fa fa-search fa-lg"></span></a></a>
      <a ng-click="back()" class="btn-back"><span class="fa fa-angle-left fa-3x"style="padding-left:10px;"></span></a>
    </nav>
</div>
<div class="row">
      <div class="col s12">
        <div class ="card-panel amber center">
          <span class = "fa fa-lg white-text">Dry Goods</span>
        </div>
      </div>

        <div class="col s6 m3">
          <div class="card" ng-click="go('/product/sweets')">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="img/candy.png">
              <span class="card-title black-text">SWEETS</span>
            </div>
          </div>
        </div>

       <div class="col s6 m3">
          <div class="card" ng-click="go('/product/dairy')">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="img/product%20milk.png">
              <span class="card-title black-text">DAIRY</span>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card waves-effect waves-block waves-light" ng-click="go('/product/snacks')">
            <div class="card-image">
              <img src="img/product%20snack.png">
              <span class="card-title black-text">SNACKS</span>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card waves-effect waves-block waves-light" ng-click="go('/product/toiletries')">
            <div class="card-image">
              <img src="img/product%20tissue.png">
              <span class="card-title black-text">TOILETRIES</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
        
      <div class="col s12">
        <div class ="card-panel amber center">
          <span class = "fa fa-lg white-text">Wet Goods</span>
        </div>
      </div>

        <div class="col s6 m3">
          <div class="card" ng-click="go('/product/canned goods')">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="img/product%20can.png">
              <span class="card-title black-text">CAN GOODS</span>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card" ng-click="go('/product/dairy')">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="img/product%20milk.png">
              <span class="card-title black-text">DAIRY</span>
            </div>
          </div>
        </div>

        <div class="col s6 m3">
          <div class="card" ng-click="go('/product/beverages')">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="img/bottle.png">
              <span class="card-title black-text">BEVERAGE</span>
            </div>
          </div>
        </div>

      </div>

 <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="/#/carts" class="btn-floating btn-large blue">
      <i class="large material-icons"><span class = "fa fa-shopping-cart fa-lg"></span></i>
    </a>
  </div>