<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten -1">
      <a href="#" class="brand-logo center"><span class="brand-logo1">Delivery</span></a>
      <a ng-click="back()" class="btn-back"><span class="fa fa-angle-left fa-3x"style="padding-left:10px;"></span></a>
    </nav>
</div>

<div class="row">
    <form class="col s12">
        <div class="row"><br>

        <div class="input-field col s12 m6">
          <input id="first_name" type="text" class="validate" style="border-bottom-style:solid;border-color:grey;">
          <label for="first_name" style="color:grey;">House No.</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="first_name" type="text" class="validate" style="border-bottom-style:solid;border-color:grey;">
          <label for="first_name" style="color:grey;">Street</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="first_name" type="text" class="validate" style="border-bottom-style:solid;border-color:grey;">
          <label for="first_name" style="color:grey;">Barangay</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="first_name" type="text" class="validate" style="border-bottom-style:solid;border-color:grey;">
          <label for="first_name" style="color:grey;">Provice/City</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="first_name" type="text" class="validate" style="border-bottom-style:solid;border-color:grey;">
          <label for="first_name" style="color:grey;">Smart Mobile No.</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="first_name" type="password" class="validate" style="border-bottom-style:solid;border-color:grey;">
          <label for="first_name" style="color:grey;">Smart Money Account</label>
        </div>
        <div class="col s12" ng-click="go('/checkout')">
        <a href="" onclick="Materialize.toast('Your transaction is on process.', 2000, 'rounded')" class="brand-logo center waves-effect waves-light btn"> <span class="fa fa-paper-plane-o">Submit</span></a>
    </div>
        </div>
      </form>
  </div>

   
