<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a href="#" class="brand-logo center"><span class="brand-logo1">Stores</span>
      <a href="/#/" class="btn-back"><span class="fa fa-angle-left fa-3x"></span></a>
      <a href="#" class="brand-logo2 right"><span class="fa fa-search fa-2x"></span></a>
     </nav>
</div>
<ul class="collection">
  <li class="collection-item avatar"><a href="#">
    <img src="img/puregoldc.png" alt="" class="circle">
    <span class="title">PUREGOLD</span>
    <p>AYALA<br>HARBOR POINT</p>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a></a>
  </li>
</ul>
