<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a href="#" class="brand-logo center"><span class="brand-logo1">S</span><span class="brand-logo2">mart</span><span class="brand-logo3">D</span></a>
      <a href="#" class="brand-logo4 left"><span class="fa fa-search fa-2x"></span></a>
     </nav>
</div>

<div class="col s12 m12">
	<div class="profile-header header-adjust">
	  <img src="img/shopping.jpg" class="img-profile">
	  <img src="img/official.png" class="img-icon center-block">
	  <span class="text-title center-block center-align white-text"><h5>Gerald Austria</h5><h6>Customer</h6></span>
	</div>
</div>

<div class="row">
  <div class="col s6 center-align">
    <a href="/#/grocer"><div class="card-panel red lighten-1 white-text">
      <span class="fa fa-building fa-3x" style="margin-left:15px;"></span>
      <h5>Shop</h5>
    </div></a>
  </div>
  <div class="col s6">
    <a href="#/cart"><div class="card-panel center-align yellow light-1 white-text">
      <span class="fa fa-cart-arrow-down fa-3x" style="margin-left:5px;"></span>
      <h5>Cart</h5>
    </div></a>
  </div>
  <div class="col s6">
    <div class="card-panel center-align cyan accent-3 white-text">
      <span class="fa fa-cogs fa-3x" style="margin-left:5px;"></span>
      <h5>Settings</h5>
    </div>
  </div>
  <div class="col s6">
    <a href="#/about"><div class="card-panel center-align green accent-3 white-text">
      <span class="fa fa-info-circle fa-3x" style="margin-left:15px;"></span>
      <h5>About</h5>
    </div></a>
  </div>
</div>

<!--
<div class="row">
    <div class="col s6 m3">
    <a href="#/grocer">
        <div class="card red lighten-1 waves-effect waves-block waves-light">
            <div class="card-content white-text center-align">
              <span class="card-title"><i class="fa fa-building fa-3x"></i></span>
          </div>
    </div>
    </a>
  </div>
    <div class="col s6 m3">
      <a href="#/cart">
        <div class="card yellow light-1 waves-effect waves-block waves-light">
            <div class="card-content white-text center-align">
              <span class="card-title"><i class="fa fa-cart-arrow-down fa-3x"></i></span>
          </div>
    </div></a>
  </div>
    <div class="col s6 m3">
       <a href="#/settings">
        <div class="card cyan accent-3 waves-effect waves-block waves-light">
            <div class="card-content white-text center-align">
              <span class="card-title"><i class="fa fa-cogs fa-3x"></i></span>
          </div>
    </div>
  </div>
    <div class="col s6 m3" >
        <a href="/#/about"><div class="card green accent-3 waves-effect waves-block waves-light center-align" >
          <div class="card-content white-text">
           <span class="card-title"><i class="fa fa-info-circle fa-3x"></i></span>
          </div>
      </div></a> 
</div>
</div>!-->
<!--end row-->  