<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a href="#" class="brand-logo center"><span class="brand-logo1">Settings</span>
      <a href="/#/" class="btn-back"><span class="fa fa-angle-left fa-3x"></span></a>
      <a href="#" class="brand-logo2 right"><span class="fa fa-search fa-2x"></span></a>
     </nav>
</div>


<div class="col s6 m3">
       <a href="#/settings">
        <div class="card red lighten-1 accent-3 waves-effect waves-block waves-light">
            <div class="card-content white-text center-align">
              <span class="card-title"><i class="fa fa-cogs fa-4x"></i>Settings</span>
          </div>
    </div>
  </div>
    
    <div class="col s6 m3">
       <a href="#/settings">
        <div class="card yellow lighten-1 accent-3 waves-effect waves-block waves-light">
            <div class="card-content white-text center-align">
              <span class="card-title"><i class="fa fa-cogs fa-4x"></i>Settings</span>
          </div>
    </div>
  </div>
    
    <div class="col s6 m3">
       <a href="#/settings">
        <div class="card cyan accent-3 waves-effect waves-block waves-light">
            <div class="card-content white-text center-align">
              <span class="card-title"><i class="fa fa-cogs fa-4x"></i>Settings</span>
          </div>
    </div>
  </div>
    
    <div class="col s6 m3">
       <a href="#/settings">
        <div class="card green accent-3 waves-effect waves-block waves-light">
            <div class="card-content white-text center-align">
              <span class="card-title"><i class="fa fa-cogs fa-4x"></i>Settings</span>
          </div>
    </div>
  </div>
    

