<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a href="#" class="brand-logo center"><span class="brand-logo1">Stores</span>
      <a ng-click="back()" class="btn-back"><span class="fa fa-angle-left fa-3x" style="padding-left:10px;"></span></a>
     </nav>
</div>
<ul class="collection">
  <li class="collection-item avatar" ng-click="go('/category/sdfd')">
    <img src="img/puregoldc.png" alt="" class="circle">
    <span class="title">PUREGOLD</span>
    <p>AYALA<br>HARBOR POINT</p>
    <a href="#!" class="secondary-content"><i class="fa fa-star-o fa-2x"></i></a></a>
  </li>
</ul>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="/#/carts" class="btn-floating btn-large blue">
      <i class="large material-icons"><span class = "fa fa-shopping-cart fa-lg"></span></i>
    </a>
</div>